$backgroundColor: #151515;
$buttonColor: #4EE1A0;
$footerFormColor: #242424;
$outlineColor: #D9D9D9;
$textColor: #FFFFFF;


.contact-container {
    position: relative;
    text-align: center;
    width: 84%;
    margin-inline: auto;
}

p.contact-title {
    font-size: 40px;
    padding-top: 40px;
    margin: 0;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
}

input {
    outline: none;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid $textColor;
    padding-bottom: 1rem;
    margin-top: 2rem;
    font-size: 1rem;
}

input[type='text']:valid {
    border-bottom: 1px solid $buttonColor;
}

input[type='email']:invalid {
    border-bottom: 1px solid #FF6F5B;
    background-image: url('../assets/images/icon-frontend.svg');
    background-repeat: no-repeat;
    background-position: right top;
}

input[type='email']:invalid + span::before {
    position: absolute;
    right: 0;
    font-size: 12px;
    content: 'Sorry, invalid format here';
    color: #FF6F5B;
}

span.error {
    border-bottom: none;
}

label {
    align-self: flex-start;
    padding-top: 32px;
}


textarea {
    outline: none;
    border: none;
    border-bottom: 1px solid $textColor;
    background-color: inherit;
    margin-top: 2rem;
    font-size: 1rem;
    resize: none;
}

input.btn {
    align-self: flex-end;
    margin-top: 32px;
    border-bottom: 2px solid $buttonColor;
    margin-bottom: 87px;
    cursor: pointer;
}

input.btn:hover {
    color: $buttonColor;
}

footer {
    width: 84%;
    border-top: 1px solid $textColor;
    margin-inline: auto;
}

.footer-wrapper {
    text-align: center;
}

.ringFooter {
    position: absolute;
    bottom: 97px;
    right: 172px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 25.6px;
}

@media screen and (min-width: 768px) {
    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-title {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -0.44px;
    }

    p.contact-title {
        font-size: 72px;
    }

    .contact-description {
        font-size: 18px;
        line-height: 28px;
    }

    .contact-wrapper {
        width: 68.98%;
        margin-inline: auto;
    }

    form {
        width: 68.98%;
        margin-inline: auto;
    }

    input.btn {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 2.29px;
    }

    label {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.22px;
        color: $outlineColor;
    }

    input {
        font-size: 16px;
    }
}

@media screen and (min-width: 1440px) {
    .contact-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(445px, 1fr));
        padding-top: 84px;
    }

    .contact-wrapper {
        text-align: left;
    }
}